<section class="search-row">

    {% set banner = page.assets['featured.jpg'] %}

    {% if banner %}
    <div class="search-image">
        <img src="{{ banner.cropZoom(100,100) }}" />
    </div>
    {% endif %}
    <div class="search-item">
        <div class="search-title">
            <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        </div>

        <div class="search-details">
            <span class="search-date">{{ page.date|date() }}</span>
        </div>

        <p>{{ page.summary }}</p>

        <hr />
    </div>
</section>
